.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.list {
    display: flex;
    gap: 100px;
}

.left {
    display: flex;
    flex: 1;
}

.right {
    padding-top: 70px;
}

.info {
    font-size: 18px;
    line-height: 30px;
}