.container {
    display: flex;
    gap: 100px;
    height: 72px;
    border-bottom: 1px solid rgb(212, 209, 209);
    padding: 20px 40px;
}

.left {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 35px;
}

.logo {
    width: 112px;
    height: 29px;

    &:hover {
        cursor: pointer;
    }
}


.items {
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.list {
    position: relative;
    width: auto;

    &:hover {
        cursor: pointer;
    }
}

.item {
    font-size: 18px;
    color: black;

    &:hover {
        cursor: pointer;
        color: rgb(37, 37, 251);
    }
}

.listItem {
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    margin-top: 16px;
    box-shadow: 0 2px 10px 4px #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.listItem::after {
    content: "";
    position: absolute;
    left: 20px;
    top: -40px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #f1efef transparent;
}

.list:hover .listItem {
    display: flex;
    gap: 30px;
}

.listItemChild {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 15px;
    padding: 25px;
    color: #707070;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #000;
}

.child {
    padding: 2px;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgb(171, 182, 228);
        color: black;

    }
}

.icon1 {
    vertical-align: middle;
}

.icon {
    vertical-align: bottom;
    margin-right: 4px;
}

.right {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 35px;
}

.btn {
    width: 180px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #F2863B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.blue {
    background-color: blue;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.isLogined {
    display: flex;
    gap: 10px;
    font-size: 18px;
    width: 100%;
    justify-content: right;
}

.logined {
    font-size: 18px;
    color: blue;
    font-style: oblique;
    text-decoration: underline;
}

.abc {
    &:hover {
        cursor: pointer;
    }
}